.btn {
    &, &:link, &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 100rem;
        position: relative;
        font-size: $default-font-size;
        transition: all .2s; 
        /* Specifies how the animations will work in this element ( properties, duration ) */

        //For Button Elements 
        border: none;
        cursor: pointer;
    }
    &:hover, &:focus {

        //For Button Elements
        outline: none;

        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

        &:after { /* Animation in the Pseudo Element 'After' when Hovered */
            transform: scaleX(1.4) scaleY(1.6); /* Resizes the element */
            opacity: 0; /* Gives the Fade Out Effect */
        }  
    }      
    &:active { /* Animation when Clicked */
        transform: translateY(-1px);
        box-shadow: 0 5 10 rgba($color-black,0.2); /* x, y, blur, color */
    }
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &:after {
            background-color: $color-white;
        }
    }
    &--green {
        background-color: $color-primary;
        color: $color-white;

        &:after {
            background-color: $color-primary;
        }
    }
    &--animated { /* Animation when the Button Shows Up */
        animation: moveInBottom .5s ease-out .75s; /* name, time, timing, delay */
        animation-fill-mode: backwards;
        /* Specifies a style for the element when the animation is not playing (delayed time) */
        /* backwards -> value of the first KeyFrame / forwards -> value of the last KeyFrame */
    }
    /* Create a Pseudo Element after the Button */
    &::after {
        content: "";
        display: inline-block;
        height: 100%; /* 100% of the buttons height */
        width: 100%; /* 100% of the buttons width */
        border-radius: 100px;

        /* places it in the same position of the button */
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1; /* places it behind the button */
        
        transition: all .4s; 
        /* Specifies how the animations will work in this element ( properties, duration ) */
    } 
}

.btn-text {
    &:link, &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 0.5rem 1rem rgba($color-black, .15);
        transform: translateY(0px);
    }
}